<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container home home-about">
      <h1>About</h1>

        <P>이름 : 이성진</p>
        <P>생년월일 : 1992.12.25</p>
        <P>부산대학교 정보컴퓨터공학부 4학년 재학 중</p>


    </div>
  </body>
</html>
