<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container home home-about">
      <h1>About</h1>

        <P>이름 : 이성진</p>
        <P>생년월일 : 1992.12.25</p>
        <P>부산대학교 정보컴퓨터공학부 4학년 재학 중</p>

        <P>--------------------------------------------------------</p>
        <P>2015.8.20 ~ 2015.8.22 - 대학생 IP 챌린지 캠프 참가</P>
        <P>2015.8.20 ~ 2015.11.30 - 갈매기 창업사관학교 2기 수료</P>
        <P>2016.7.1 ~ 2016.12.31 - 스마일게이트 멤버십 8기 수료</P>
    </div>
  </body>
</html>
