<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/nav %>
    <div class="container home home-welcome">
      <div class="jumbotron">
        <h1>영화 소감 및 정리 블로그</h1>
        <P>이 사이트는 ICT 융합특강 과목을 위해 제작된 사이트입니다!</p>
      </div>
    </div>
  </body>
</html>
